body {
    background-image: url(../Images/background.jpg);
}
.Diamond {
    height: 60%;
    margin-left: 70px;
}

.container {
    background-color: gray;
    color: white;
    margin-top: 80px;
    font-family: 'Quicksand', sans-serif;
}

.card-body {
    color: black;
    font-family: 'Quicksand', sans-serif;
}